* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#121214;
}

nav.menu ul{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    
}

nav.menu li {
    position: relative;
    top: 0;

    width: 100%;
    background-color: #8056E3;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color .5s;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

nav.menu li:hover {
    background-color: #c1a7ff;
    
}

nav.menu li > ul {
    display: none;
}

nav.menu li:hover > ul {
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    display:initial
}

nav.menu ul li ul li > ul {
    display: none;
}

