* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    background-color: rgb(162, 156, 184);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;

    background-image: url(./image.jpg);
    min-height: 100vh;
    min-width: 100vw;
    /* overflow: hidden; */
    background-size: cover;
    /* background-position: top right; */
    /* background-repeat: no-repeat; */
}

div.content {
    background-color: #39507D;
    width: 400px;
    height: 450px;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 5px 5px 15px rgba(189, 189, 189, 0.541);
    /* line-height: 50px; */
}

div.content div.profile {
    background-color: transparent;
    border: 5px solid #6785b3;

    width: 120px;
    height: 120px;

    border-radius: 50%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.content div.profile img {
    width: 125px;
}

div.content h1.name-profile {
    color: #FBE8DA;
    margin-top: 20px;
}

div.content h2.description-profile {
    color: #E192AF;
    font-size: 12pt;

    margin-top: 10px;
}

div.content div.social-links {
    margin-top: 20px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.content div.social-links i {
    color: #FCE6D8;
    font-size: 16pt;
    transition: color .5s;
}

div.content div.social-links i:hover {
    color: #d675a7;
    cursor: pointer;
}

div.content button {
    margin-top: 40px;
    font-size: 12pt;
    padding: 10px 35px;
    background-color: transparent;
    border: 2px solid #E192AF;
    color: #E192AF;
    border-radius: 8px;
    transition: color .2s, background-color .5s;
}

div.content button:hover {
    background-color: #BF799D;
    border: 2px solid #BF799D;
    color: white;
    cursor: pointer;
}

div.content-footer {
    background-color: #FCE6D8;
    width: 400px;
    height: 130px;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 5px 5px 15px rgba(189, 189, 189, 0.541);

}



div.content-footer div.information-profile {
    width: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}



div.content-footer div.information-profile:nth-child(1) {
    border-right: 1px solid rgb(175, 175, 175);
}

div.content-footer div.information-profile:nth-child(3) {
    border-left: 1px solid rgb(175, 175, 175);
    
}



div.content-footer div.information-profile p.information-number {
    font-weight: 400;
    font-size: 20pt;
    color: rgb(68, 68, 68);
}

div.content-footer div.information-profile p.information-description {
    font-weight: 900;
    font-size: 8pt;
    text-transform: uppercase;
    color:  #BF799D;
}